# --- AnyDesk (real IP; avoid Fake-IP 198.18) ---
# Append into OpenClash: /etc/openclash/custom/openclash_custom_fake_filter.list
# Then restart OpenClash (or flush DNS/Fake-IP cache).
+.anydesk.com
+.net.anydesk.com
+.anydesk.com.cn
+.net.anydesk.com.cn
